* {
  margin: 0;
}

.App {
  background: white;
  margin: 2em auto;
  padding: 10px;
  width: 80%;
  border-radius: 2.5em;
  max-width: 750px;
}

.logo {
  margin: 0;
  padding: 0;
  width: 200px;
}

header {
  display: flex;
}

.header-right {
  margin-left: auto;
}

button {
  padding: 5px;
  font-size: 16;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #f37820;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 10px;
}

.header-btns {
  margin: 10px;
}

.mobileOnly {
  display: none;
}

@media screen and (max-width: 720px) {
  
  .mobileOnly{
    display: block;
  }

  .header-btns {
    display: none;
  }
}